.userCard{
    display:inline-block;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 150vh;
    border: 1px solid #cccccc;
    border-radius: 10px;
}
.userCard:hover{
    transform: scale(2); 
}
.name{
    font-size: 22px;
}
.email{
    font-size: 15px;
}